/.vs
*.sln
*.pyc
*.pyproj

# Build
/EnactiveAgents.egg-info/
/dist/

# Docs
/docs/_build
/docs/_static
/docs/_templates
/docs/make.bat
/docs/Makefile

# Output
/_agents/
/_worlds/
/_experiments/
/_renders/
/_results/
